---
import Image from "astro/components/Image.astro";

const { img, title, description, url, tags } = Astro.props

let tagP = []
if (tags) {
    tagP = tags
}

---

<a href={url} target="_blank">
    <div id="post" class="group">
        <Image src={img} alt="stm32pe"/>
        <div class="p-3">
            <span class="font-bold group-hover:underline decoration-2">{title}</span>
            <br>
            <span class="text-sm">{description}</span>
            <div class="flex flex-wrap">
                {
                    tagP.map((tag: string) => (
                        <div id="tag">
                            <span>{tag}</span>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</a>

<style>
    @reference "tailwindcss";

    #post {
        @apply bg-black/50 w-62 hover:bg-black/80
    }

    @media only screen and (max-width: 700px) {
        #post {
            @apply w-48
        }
    }

    #tag {
        @apply mr-1 mt-1 px-2 rounded-full font-bold;
        background-color: var(--accent-darker);
        color: var(--accent-lighter);
    }
</style>